<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Conviguration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        <hibernate-configuration>
        <session-factory>
        
        	<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:49161:xe</property>
       		<!-- Username/Password  -->
        	<property name="hibernate.connection.username">bears</property>
       		<property name="hibernate.connection.password">bears</property>
       		<!-- Driver -->
       		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        	<!-- Type of DB Dialect -->
        	<property name="hibernate.connection.dialect">org.hibernate.dialect.Oracle10gDialect</property>
       		<!-- Level 2 Caching -->
       		<property name="hibernate.cache.use_second_level_cache">true</property>
       		<!-- Level 2 Caching Provider -->
       		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhcacheRegionFactory</property>
       		<!-- Mapped Classes -->
       		<mapping class="com.revature.pojos.HoneyPot" /> 
       		<mapping class="com.revature.pojos.Bear" />
       		<mapping class="com.revature.pojos.Cave" />      
       
        </session-factory>
       </hibernate-configuration>